* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Oxygen', sans-serif;
}

a {
  /* color: #007bff; */
  color: #ffeeff;
  text-decoration: none;
  background-color: transparent;
  padding: 0 10px;
}

a:hover {
  color: #c7d1d8;
  text-decoration: none;
}

/* Navbar */

.navbar {
  background-color: #3e63bd !important;
}

.navbar-brand {
  width: 75%;
  left: 0;
  margin: 0 auto;
  margin-left: 40px;
  font-size: 22px;
  letter-spacing: 0.5px;
}
/* End Navbar */

#click {
  color: #3e63bd;
}

#submit-btn {
  margin-bottom: 80px;
  background: #3e63bd;
}

#error-btn {
  background: #3e63bd;
}

/* Footer */
.footer {
  background: #3e63bd;
  clear: both;
  position: relative;
  height: 100%;
  padding: 10px;
  text-align: center;
}

#footer-text {
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.5px;
}

#react {
  font-size: 16px;
  margin-top: 5px;
}

/* Code to make YouTube videos responsive */
.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* End Footer */

/* ===== MEDIA QUERIES ===== */

@media screen and (min-width: 981px) and (max-width: 1200px) {
  /* body {
    background-color: red;
  } */
}

@media screen and (min-width: 769px) and (max-width: 980px) {
  /* body {
    background-color: yellow;
  } */
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  /* body {
    background-color: steelblue;
  } */
}

@media screen and (min-width: 481px) and (max-width: 640px) {
  /* body {
    background-color: brown;
  } */
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  /* body {
    background-color: burlywood;
  } */
}
