* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Oxygen', sans-serif;
}

a {
  /* color: #007bff; */
  color: #ffeeff;
  text-decoration: none;
  background-color: transparent;
  padding: 0 10px;
}

a:hover {
  color: #c7d1d8;
  text-decoration: none;
}

.about-pic {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Navbar */

.navbar {
  background-color: #3e63bd !important;
}

.navbar-brand {
  width: 75%;
  left: 0;
  margin: 0 auto;
  margin-left: 40px;
  font-size: 22px;
  letter-spacing: 0.5px;
}

#app-name {
  color: #ffeeff;
  font-family: 'Dancing Script', cursive;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1.5px;
  /* margin-left: 10px; */
}

#brand-link {
  color: #ffeeff;
}

.nav-link {
  color: #ffeeff !important;
}

.nav-link:hover {
  color: #c7d1d8 !important;
}
/* End Navbar */

#click {
  color: #3e63bd;
}

#submit-btn {
  margin-bottom: 80px;
  background: #3e63bd;
}

#error-btn {
  background: #3e63bd;
}

/* Footer */
.footer {
  background: #3e63bd;
  clear: both;
  position: relative;
  height: 100%;
  padding: 10px;
  text-align: center;
}

#footer-text {
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.5px;
}

#react {
  font-size: 16px;
  margin-top: 5px;
}

/* Code to make YouTube videos responsive */
.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* End Footer */

/* ===== MEDIA QUERIES ===== */

@media screen and (min-width: 981px) and (max-width: 1200px) {
  /* body {
    background-color: red;
  } */

  .about-pic {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 980px) {
  /* body {
    background-color: yellow;
  } */

  .about-pic {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  /* body {
    background-color: steelblue;
  } */
  .about-pic {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 481px) and (max-width: 640px) {
  /* body {
    background-color: brown;
  } */

  .about-pic {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 431px) and (max-width: 480px) {
  /* body {
    background-color: black;
  } */

  #brand-link {
    float: inline-end;
    font-size: 28px;
  }
}

@media screen and (min-width: 401px) and (max-width: 430px) {
  /* body {
    background-color: burlywood;
  } */

  #brand-link {
    float: inline-end;
    margin-top: 5px;
    margin-bottom: -60px;
    font-size: 28px;
  }

  button.navbar-toggler.collapsed {
    margin-bottom: 10px;
  }

  .nav-link {
    font-size: 14px;
  }

  .about-pic {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 100px) and (max-width: 400px) {
  /* body {
    background-color: pink;
  } */

  #brand-link {
    float: inline-end;
    margin-top: 12px;
    margin-bottom: -60px;
    font-size: 18px;
  }

  button.navbar-toggler.collapsed {
    margin-bottom: 10px;
  }

  .nav-link {
    font-size: 12px;
  }
}
